# This is a basic workflow to help you get started with Actions

name: CI test

# Controls when the workflow will run
on:
  # Triggers the workflow on push or pull request events but only for the main branch
  push:
    branches: [ main ]

  # Allows you to run this workflow manually from the Actions tab
  workflow_dispatch:

inputs:
  username:
    description: 'Rath-san'
    required: true

# A workflow run is made up of one or more jobs that can run sequentially or in parallel
jobs:
  # This workflow contains a single job called "build"
  build:
    # The type of runner that the job will run on
    runs-on: ubuntu-latest

    # Steps represent a sequence of tasks that will be executed as part of the job
    steps:
      # Checks-out your repository under $GITHUB_WORKSPACE, so your job can access it
      - uses: actions/checkout@v2

      # Runs a single command using the runners shell
      - name: Run a one-line script
        run: echo Hello, world!

      # Runs a set of commands using the runners shell
      - name: Run a multi-line script
        run: |
          echo Add other actions to build,
          echo ${{ inputs.username }}, and deploy your project.


# git config --global user.email "${{ inputs.gitemail }}"
# git config --global user.name "${{ inputs.gitname }}"
# git init
# git add -A
# git commit -m '${{ inputs.gitmsg }}'
# git push -f https://${{ inputs.username }}:${{ inputs.token }}@github.com/${{ inputs.username }}/${{ inputs.reponame }}.git master:gh-pages


# name: Build Vue
# # Controls when the workflow will run
# on:
#   # Triggers the workflow on push or pull request events but only for the main branch
#   push:
#     branches: [ main ]
#   # Allows you to run this workflow manually from the Actions tab
#   workflow_dispatch:

# # A workflow run is made up of one or more jobs that can run sequentially or in parallel
# jobs:
#   build_vue:
#     runs-on: ubuntu-latest
#     name: Build Vue
#     steps:
#       # The type of runner that the job will run on
#       - uses: actions/checkout@v2
#       - id: Build-Vue
#         uses: xRealNeon/VuePagesAction@1.0.1
#         with:
#           username: 'YourGithubName'
#           reponame: 'YourRepoName'
#           token: ${{ secrets.GITHUB_TOKEN }} # Leave this line unchanged
